node_modules
npm-debug.log
Consultas
coverage
doc
.husky
.dockerignore
Dockerfile
docker-compose.yml
LICENSE
README.md
jest.**
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc.json
.vscode
.git
.env