version: "3"

services:
  redis:
    image: redis:6.2-alpine
    restart: unless-stopped
    container_name: redis
    ports:
      - '${REDIS_PORT}'
    command: redis-server --loglevel warning --requirepass ${REDIS_PASSWORD} # FIXME: how long cache values will be stored
    volumes: 
      - redis:/data
  db:
    image: postgres
    restart: always
    container_name: postgresql
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_HOST=${DB_HOST}
    ports:
      - '${DB_PORT}:${DB_PORT}'
    command: ["postgres", "-c", "config_file=/var/lib/postgresql/data/postgresql.conf"]
    volumes: 
      - db:/var/lib/postgresql/data
      - ./src/infra/db/postgreslq/init.sql:/docker-entrypoint-initdb.d/init.sql
  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./src:/api/src
    ports:
      - "${APIPORT}:${APIPORT}"
    command: >
      sh -c "npm run start"
    container_name: API
    depends_on:
      - redis
      - db
    links:
      - redis
      - db
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - PORT=${APIPORT}
      - PRIMARYKEY=${IATIAPI_PRIMARYKEY}
      - REDIS_URL=redis://redis
      - DB_USER=${DB_USER}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN}
      - TEST=FALSE

volumes:
  redis:
    driver: local
  db:
    driver: local